.menuAction:link {
    text-decoration: none !important;
    color: inherit;
  }
  
.menuAction:visited {
    text-decoration: none !important;
    color: inherit;
}

.menuAction:hover {
    text-decoration: none !important;
    color: inherit;
}

.menuAction:active {
    text-decoration: none !important;
    color: inherit;
}

.media .media-body {
    margin-top: 5px;
}

.media .img-profile {
    margin-left: 10px;
    margin-right: 15px;
    margin-top: 5px;
}